@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("/css/fonts/avenirltstd-book-webfont.woff2") format("woff2"),
    url("/css/fonts/avenirltstd-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/css/fonts/AvenirLTStd-BookOblique.woff2") format("woff2"),
    url("/css/fonts/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/css/fonts/avenirltstd-medium-webfont.woff2") format("woff2"),
    url("/css/fonts/avenirltstd-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/css/fonts/avenirltstd-heavy-webfont.woff2") format("woff2"),
    url("/css/fonts/avenirltstd-heavy-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/css/fonts/avenirltstd-black-webfont.woff2") format("woff2"),
    url("/css/fonts/avenirltstd-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nasalization";
  src: url("/css/fonts/nasalization_rg-webfont.woff2") format("woff2"),
    url("/css/fonts/nasalization_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    font-family: "Avenir", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nasalization", sans-serif;
  }
}

@layer components {
  /* Swiper
------------------------------------------------------------- */
  /* testimonial section style */
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #3F54DD;
  }

  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 15px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 15px)
    );
  }
}

/* Preloader */
.preloader-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  background: #fff;
}

.preloader-wrapper .preloader {
  margin: 20% auto 0;
  transform: translateZ(0);
}

.preloader:before,
.preloader:after {
  content: "";
  position: absolute;
  top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: animation 1.2s infinite ease-in-out;
}

.preloader {
  animation-delay: -0.16s;
}

.preloader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.preloader:after {
  left: 3.5em;
}

@keyframes animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em #3f54dd;
  }

  40% {
    box-shadow: 0 2em 0 0 #2d3c9d;
  }
}

.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 50px;
}

.text-grey {
  color: #ededed;
}

.text-green {
  color: #152b35;
}

.border-grey {
  border: 1px solid #ededed;
}

.logo-caroca {
  opacity: 1;
  display: inline;
}

.logo-caroca:hover {
  opacity: 0.7;
}

/* Estilos para el boton flotante */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3f54dd;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
}

.whatsapp-button:hover {
  color: #fff !important;
  background-color: #b5c8dc;
}

/* Estilos para el &iacute;cono de WhatsApp */
.whatsapp-button i {
  font-size: 30px;
}

.footer-bottom {
  font-size: 0.8em;
}

.menu a:hover{
    font-weight: bold;
    color: #3f54dd;
}

@media only screen and (max-width: 640px) {
  .logo {
    width: 70%;
  }
}